<h1>Welcome to the Homepage</h1>
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Occasionakart Orders</h1>
      
      <hr class="my-4">
      
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a> 
   <p align="center"> <%=  link_to "Make A Order", "/orders/new/", class: "btn btn-danger btn-lg btn-xlarge"  %> </p>
</div>
      
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Occasionkart Cakes</small>
    
  </div>
</footer>